<div class="card">
    <div class="card-body animated fadeIn faster">
        <h5 class="card-title">{{indicator.key | uppercase}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Valor: {{indicator.value}} {{indicator.unit}} </h6>
        <p class="card-text">{{indicator.name}}</p>
        <p class="card-text"><small class="text-muted">Ultima actualización {{indicator.date * 1000 | date:'dd-MM-yyyy'}}</small></p>
        <a [routerLink]="['/evolution', indicator.key]" class="card-link">Evolución</a>
    </div>
</div>