<div class="row">

    <div class="row" style="width: 100%">

        <div class="col-11">
            <h1 style="width: 100%">Evolución Indicador {{name | uppercase}}</h1>
        </div>
        <div class="col-1" style="align-content: right">
            <button type="button" [routerLink]="['/home']" class="btn btn-outline-primary">Volver</button>
        </div>

    </div>




    <hr style="width: 100%">

    <div class="row" *ngIf="errorExist">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                Error en la consulta del servicio
            </div>

        </div>
    </div>



    <div style="width: 90%">
        <div *ngIf="loading" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>

        <div>
            <canvas *ngIf="showChart" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>
    </div>



</div>