<div class="row">

    <h1 style="width: 100%">Dashboard Indicadores</h1>
    <hr style="width: 100%">

    <div class="row" *ngIf="errorExist">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                Error en la consulta del servicio
            </div>

        </div>
    </div>

    <div *ngIf="loading" class="text-center">
        <div class="spinner-border" role="status">
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3">
        <div *ngFor="let indicator of indicators" class="col mb-4">
            <app-card [indicator]="indicator"></app-card>
        </div>
    </div>

</div>